node_modules/
.expo/
android/
ios/
bin/
build/
.gradle/
.gradle-tmp/
*.log
.DS_Store
google-services.json
GoogleService-Info.plist
*.apk
*.aab
my_android_key_diy.jks
*.jks
*.keystore
*.env
.env
scripts/.env
